.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-size: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.card .desc {
    font-size: 0.9rem;
    color: #555;
    margin: 10px 0;
}

.card .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card button {
    padding: 6px 14px;
    border: none;
    background-color: #2d6fb5;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.card button:hover {
    background-color: #0056b3;
}